/* Start Styling Shadow Generator App */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    background: rgba(37,141,193,1);
    /* background: url(./media/background.jpg) center fixed; */ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titles {
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 100px 0 100px;
    text-align: center;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(31, 0, 0, 0.815);
    margin: 30px 50px 100px 50px;
}

.result {
    border-radius: 20px;
    border: 2px solid #00000078;
    padding: 100px 0;
    margin: 15px 0;
}

#element {
    width: 80px;
    height: 80px;
    position: relative;
    background: url(./media/background.jpg) no-repeat;
    /* background-color: rgb(202, 40, 0); */
    margin: auto;
    border-radius: 10px;
}

.sliders {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 20px 15px;
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="range"] {
    width: 100%;
}

.code-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 10fr 2fr;
    gap: 5;
}

textarea {
    resize: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 6px;
    margin: 5px;
}

#liveToastBtn {
    background: linear-gradient(#240755, #ca296b) !important;
    border-radius: 10px !important;
    border: none !important;
    margin: 5px;
    color: white !important;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a h3 {
    margin: 50px 0;
}
